p, h1, h2, h3, h4, h5, h6, ul, li, body, button, a{
    font-family: 'Open Sans', sans-serif;
}

.full-image{
    width: 100%;
}

.gray-h2{
    font-size: 2.7em;
}

.gray-h3{
    font-size: 1.8em;
}

.white-section-p{
    font-size: 1.3em;
}

.div-purple-bg{
    background-color: #0039a6;
}

.white-h2{
    color: white;
    font-size: 2em;
}

.white-p{
    font-size: 1.2em;
    color: white;
}

.div-gray-cards>.row>div>.card{
    background-color: #fafafa;
    border: 1px solid transparent;
    padding: 1em 0em;
    min-height: 350px;
    margin-bottom: 1em;
}

.div-gray-cards>.row>div>.card h5{
    color: #426cbc;
    font-weight: bold;
}

.div-gray-cards>.row>div>.card img{
    max-width: 60px;
    margin-bottom: 1em;
}

.div-benefits li{
    font-size: 1.2em;
}

.div-benefits li .benefits-span{
    font-weight: bold;
    color: #0039a6;
}

.div-route{
    background-color: #fafafa;
}

.video-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
}

.video-responsive iframe, .video-responsive object, .video-responsive embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 1
}

.gray-discover{
    font-size: 3em;
}

.gray-discover .discover-color-purple{
    color: #0039a6;
}

.gray-discover .discover-bg-purple{
    color: white;
    background-color: #0039a6;
}

.discover-subtitle{
    font-weight: 800;
    font-size: 1.5em;
}

.discover-p{
    font-size: 1em;
    text-align: justify;
}

footer{
    background-color: #0039a6;
}

.btn-see-more{
    color: white;
    background-color: #0039a6;
}

.div-light-purple-bg{
    background-color: #cbcff0;
}


.circle {
    width: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    display: block;
    margin: auto;
    margin-top: -65px;
    margin-bottom: 20px;
    background-color: white;
}

.div-light-purple-bg .card{
    min-height: 250px;
}

.div-light-purple-bg .card-title{    
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

.div-light-purple-bg .card-text{    
    font-size: 1em;
    text-align: center;
}